# AWS / SNS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN=YOUR_SESSION_TOKEN   # optional (if using temporary creds)
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:071593230407:RoomSecurityAlerts

# InfluxDB
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=YOUR_INFLUXDB_TOKEN
INFLUX_ORG=IslingtonCollege
INFLUX_BUCKET=room_security

# MQTT
MQTT_BROKER=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=room/sensors